aside {
  grid-area: aside;
}
main {
  grid-area: main;
}

body {
  display: grid;
  grid-template-areas: "aside main";
  min-height: 100vh;
  grid-template-columns: 25vw 1fr;
}
@media screen and (max-width: 800px) {
  body {
    grid-template-areas:
      "aside"
      "main";
    min-height: 100vh;
    grid-template-rows: 100vh 1fr;
    grid-template-columns: 1fr;
  }
}
